:root {
  --color-primary-black: #15171B;
  --color-secondary-black: #2B2E34;

  --color-primary-green: #7EE081;
  --color-secondary-green: #62A87C;

  --color-primary-purple: #9D75CB;
  --color-secondary-purple: #480549;
  --color-highlight-purple: #6D3CBB;

  --color-primary-white: #F4EDED;
  --color-secondary-white: #F2F2F2;
}
