@media(max-width: 1024px) {

  .header-page {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
    height: 20vh;
    padding: 30px 0;
  }
}

@media (max-width: 1200px) {
  .main-page {
    padding: 60px 20px;
  }

  .home-texts-links ul {
    display: flex;
    flex-direction: row !important;
  }

  .home-texts-links ul li {
    margin-bottom: 30px;
  }

  #walle-central {
    margin-bottom: 400px;
  }


  .slider {
    left: 100px;
  }

  .slider .slider-next {
    position: absolute;
    left: 65%;
    top: 50%;
    z-index: 2;
    font-size: 20px;
    width: 20px;
    cursor: pointer;
  }

  .slider .dots {
    position: absolute;
    width: 100%;
    bottom: 10px;
    right: 11% !important;
    text-align: center;
    z-index: 2;
  }

  .robocup-image-subtitles {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .robocup-image-subtitles-title {
    width: 800px;
    height: 53px;
  }

  .robocup-image-subtitles-features {
    margin-bottom: 200px;
  }

  .robo-container {
    gap: 20px;
  }

  .robocup-container h2 {
    font-size: 50px;
    text-align: center !important;
    line-height: 75px;
  }

  .fake-toggle-container {
    background-image: none;
    padding: 0px 100px;
    box-sizing: border-box;
  }

  .robot-char--card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    margin-bottom: 50px;
  }

  .robot-char--card p {
    width: 50%;
  }

  .robot-char {
    flex-direction: column;
  }

  .home {
    flex-direction: column;
    height: auto;
  }

  .home img {
    width: 70%;
    height: auto;
  }

  .home-texts {
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
  }

  .home-texts h1 {
    font-size: 40px;
    line-height: 60px;
  }

  .home-texts-links ul {
    flex-direction: column;
    gap: 20px;
  }

  .home-texts-links a {
    padding: 10px 30px;
  }

  #popBotButton,
  .home-texts-links a:hover {
    padding: 10px 30px;
  }

  .robocup-container h2 {
    font-size: 40px;
    line-height: 60px;
  }

  .robocup-container p {
    width: 100%;
  }

  .robocup-image {
    flex-direction: column;
    gap: 15px;
  }

  .slider {
    width: 100%;
  }

  .scroll-to-top {
    display: none !important;
  }
}

/* Estilos para telas entre 768px e 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
  .main-page {
    padding: 60px 40px;
  }

  .home-texts {
    width: 100%;
  }

  .home-texts h1 {
    font-size: 50px;
    line-height: 75px;
  }

  .home-texts-links a {
    padding: 12px 40px;
  }

  #popBotButton,
  .home-texts-links a:hover {
    padding: 12px 40px;
  }
}

/* Estilos para telas acima de 1023px */
@media (min-width: 1024px) {
  .main-page {
    padding: 120px 200px 0px 200px;
  }

  .home-texts {
    width: 700px;
  }

  .home-texts h1 {
    font-size: 70px;
    line-height: 105px;
  }

  .home-texts-links a {
    padding: 14px 50px;
  }

  #popBotButton,
  .home-texts-links a:hover {
    padding: 14px 50px;
  }

  .robocup-container h2 {
    font-size: 50px;
    line-height: 75px;
  }

  .robocup-container p {
    width: 85%;
  }
}
