* {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  color: var(--color-primary-white);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-primary-black);
  height: 2040px;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Purple Highlight no início (lado esquerdo) */
body::before {
  content: "";
  position: fixed;
  left: -40vw;
  top: -90vh;
  width: 50vmax;
  height: 100vmin;
  background: var(--color-highlight-purple);
  mix-blend-mode: difference;
  filter: blur(450px);
}

/* Green Highlight no meio (lado direito) */
body::after {
  content: "";
  position: fixed;
  top: 90vh;
  right: -40vw;
  width: 50vmax;
  height: 100vmin;
  background: var(--color-primary-green);
  filter: blur(450px);
  transform: rotate(-1.09deg);
}

body::before,
body::after {
  z-index: -1;
}

@media screen and (max-width: 430px) {
  .oportunity {
    flex-direction: column;
  }
}


.header-dropdown {
  background-color: var(--color-secondary-black);
}

.nav-link:hover {
  color: var(--color-primary-green) !important;
}

.dropdown-item:hover {
  background: linear-gradient(270deg, #7EE081 0%, rgba(126, 224, 129, 0.00) 100%);
}

.btn {
  background-color: var(--color-primary-green);
  border: 2px solid var(--color-primary-green);
}

.btn:hover {
  background-color: transparent;
  border: 2px solid var(--color-primary-green);
}
