* {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  color: var(--color-primary-white);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-primary-black);
  height: 2040px;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Purple Highlight no início (lado esquerdo) */
body::before {
  content: "";
  position: fixed;
  left: -40vw;
  top: -90vh;
  width: 50vmax;
  height: 100vmin;
  background: var(--color-highlight-purple);
  mix-blend-mode: difference;
  filter: blur(450px);
}

/* Green Highlight no meio (lado direito) */
body::after {
  content: "";
  position: fixed;
  top: 90vh;
  right: -40vw;
  width: 50vmax;
  height: 100vmin;
  background: var(--color-primary-green);
  filter: blur(450px);
  transform: rotate(-1.09deg);
}

body::before,
body::after {
  z-index: -1;
}


.body-section {
  margin-bottom: 10% !important;
}

@media screen and (max-width: 758px) {
  .oportunity {
    flex-direction: column;
  }

  .body-section {
    margin-bottom: 10rem !important;
  }

  .invest-row {
    margin-top: 80px !important;
    margin-bottom: 80px !important;
    display: flex;
    gap: 30px;
  }

  .invest-row-body  {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .invest-row-text {
    text-align: center !important;
  }

  .middle {
    flex-direction: column-reverse !important;
  }
}

@media screen and (max-width: 988px) {
  .navbar-collapse {
    display: block !important;
  }

  .collapse:not(.show) {
    display: none !important;
  }
}

.header-dropdown {
  background-color: var(--color-secondary-black);
}

.nav-link:hover {
  color: var(--color-primary-green) !important;
}

.dropdown-item:hover {
  background: linear-gradient(270deg, #7EE081 0%, rgba(126, 224, 129, 0.00) 100%);
}

.btn {
  background-color: var(--color-primary-green);
  border: 2px solid var(--color-primary-green);
}

.btn:hover {
  background-color: transparent;
  border: 2px solid var(--color-primary-green);
}

.card-story {
  background: linear-gradient(158deg, #5A00C1 1.36%, #9D75CB 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  min-height: 700px; 
  width: 90% !important;
}

.card-group {
  background: linear-gradient(158deg, var(--color-primary-green) 50%, var(--color-secondary-green) 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  min-height: 500px; 
}

.list-group-item {
  background-color: transparent !important;
   color: white;
}

.bg-transparency {
  background-color: transparent !important;
}

.invest-row {
  margin-top: 100px;
  margin-bottom: 100px;
}